body {
  background-image: -moz-linear-gradient();
}

#work {
  font-size: 36px;
  text-align: center;
}
.cat {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* html {
  background: url('image.png') no-repeat center fixed;
  background-size: cover;
} */
